* {
    margin: 0;
}

header {
    height: 40vh;
}

.tempBorder {

    border: 1px solid black;
}

.block2 {

    height: 31.5vh;
}

.blockFooter {

    height: 5vh;
}

.block3 {

    height: 49vh;
}

.block4 {

    height: 66.5vh;
}

.block5 {

    height: 50.6vh;
}

.block6 {

    height: 56vh;
}

.block7 {

    height: 35vh;
}
